<!DOCTYPE html>
<html>
<head>
<style>
p.serif {
  font-family: "Times New Roman", Times, serif;
}

</style>
</head>

body {
	background-color: olivedrab;
}
p {
  
color: black ;

font-weight: bold;

}

<h1>CSS font-family</h1>
<p class="serif">This is a paragraph, shown in the Times New Roman font.</p>

</body>
</html>
